<div class="schedule">
  <h2>My Weekly Schedule</h2>
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Subject</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MWF</td>
        <td>ENGMAT1</td>
        <td>11:00 AM - 2:00 PM</td>
      </tr>
      <tr>
        <td>TTH</td>
        <td>DIGDES1</td>
        <td>8:00 AM - 9:00 AM</td>
      </tr>
      <tr>
        <td>TH</td>
        <td>BOWLING</td>
        <td>1:00 PM - 2:00 PM</td>
      </tr>
      <tr>
        <td>MWF</td>
        <td>OPSYST</td>
        <td>5:00 PM - 6:00 PM</td>
      </tr>
      <tr>
        <td>MWF</td>
        <td>AUTHFL1</td>
        <td>8:00 AM - 8:00PM</td>
